:root {
  --heading-font: "Lora", serif;
  --default-font: "Nunito", sans-serif;
  --primary-color: #74b49b;
  --footer-color: rgba(116, 180, 155, 0.5);
}

body {
  font-family: var(--default-font);
}

h1 {
  font-family: var(--heading-font);
}
h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

img {
  border-radius: 10px;
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
}

.nav-logo {
  height: 50px;
}

.hero p .hero-content-page p {
  font-size: 24px;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-weight: normal;
}

.hero-content-page h1 {
  font-size: 80px;
  padding: 10px 0 75px;
  text-align: center;
}

.three-col-content {
  padding-top: 100px;
}

.button-branding {
  background: #74b49b;
  text-decoration: none;
  color: white;
  padding: 18px 62px;
  border-radius: 4px;
}

.button-branding:hover {
  background: var(--primary-color);
  color: white;
  text-decoration: underline;
  padding: 18px 62px;
  border-radius: 4px;
}

.content {
  padding: 50px 20px;
}

.portfolio-content {
  padding-top: 100px;
}

.portfolio-title {
  font-family: var(--default-font);
  color: var(--primary-color);
  font-weight: bold;
}

.home-portfolio-img {
  padding: 15px 15px;
}

.work-inquiry {
  padding-top: 100px;
  padding-bottom: 65px;
  padding-left: 265px;
}

.work-inquiry h2 {
  font-weight: bold;
  font-size: 48px;
}

.social-media-icons a {
  color: #272142;
  padding: 0 5px;
}

.footer {
  background-color: var(--footer-color);
  padding: 17px 30px;
  font-size: 15px;
}

@media (max-width: 800px) {
  h2 {
    font-size: 28px;
    margin: none;
    padding-top: 10px;
  }

  h3 {
    display: none;
  }

  .hero p {
    font-size: 20px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .about-me-text {
    padding: none;
    text-align: center;
  }

  .work-inquiry {
    padding: 40px 20px;
    text-align: center;
  }

  .work-inquiry h2 {
    font-size: 36px;
  }

  .three-col-content {
    padding-top: 20px;
  }

  .content {
    padding: 10px 20px 10px;
  }

  .footer {
    font-size: 10px;
  }
}
